.president{
    width: 100%;
    height: 100%;
    margin-left: 100px;
    display: flex;
}
.home{
    display: flex;
}
.text{
    margin-top: 100px;
    margin-right: 250px;
}
.button{
    background: #3ddf3d;
    width: 150px;
    height: 49px;
}
.available{
text-align: center;
  }
  .pro{
    margin-left: 100px;
  }
  .vids{
      margin-top: 100px;
     background: grey;
  }
  .vidHead{
    margin-left: 100px;
    color: white;
  }
  .video{
      margin-left: 100px;
      width: 1000px;
  }
  .class{
      color: green;
      margin-left: 100px;
      margin-top: 50px;
  }
  .mission{
      margin-left: 100px;
      margin-bottom: 50px;

  }
  .image{
      margin-top: 100px;
      margin-left: 100px;
      color: white;
  }
  .green{
      background: rgb(49, 160, 49);
  }
  .launch{
      margin-left: 200px;
      margin-top: 50px;
  }